# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build directory and files
/build
/dist
*.exe

# venv file
/venv
/.spyproject

# Igonre cache files
*.pyc
*.pyo
__pycache__/

# Ignore output directory & files
/squares
/squares/*

# Ignore test files & folders
testing.py